@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Poppins:wght@400;500&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-selection: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
a {
    text-decoration: none;
    display: inline-block;
}

.small-bold-text {
    font-size: 1rem;
    font-weight: 700;
}

.top-banner {
    background-color: #4fb3d4;
    background-image: url(   );
} 
.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-selection);
    overflow: hidden;
}
nav {
    margin-bottom: 10px;
}
.banner-text {
    text-align: center;
    color: white;
    padding: 15px 30px;
}
.logo-div {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    /* align-items: center; */
}
.left-logo img {
    width: 200px;
}
.unorderlist {
    flex-basis: 730px;
    position: relative;
}
.unorderlist ul {
    display: flex;
    gap: 40px;
    justify-content: end;
    align-items: center;
}
.unorderlist ul li {
    list-style-type: none;
}
.unorderlist ul li a,.hover-link:hover{
    color: #2294ed ;
}
.primary-button {
    padding: 12px 24px;
    border: 1px solid var(--accent-color-dark);
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
    text-align: center;
}
.primary-button:hover {
    background-color: var(--accent-color-dark);
}
.secondary-button {
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color);
    padding: 12px 24px;
    transition: 0.2s ease-out;
}
.secondary-button:hover{
    border-color: var(--accent-color);
}
.nav-toggle {
    display: none;
}
.header {
    padding: 50px var(--padding-inline-selection) 0;
}
.header-section {
    display: flex;
    justify-content: center;
    gap: 50px;

}
.header-left {
    max-width: 40vw;
}
.header a {
    margin-top: 15px;
}
.header-right img {
    width: 100%;
}
.companies-header {
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}
.logos {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}
.logo {
    height: 40px;
    /* justify-content: space-between; */
}
.features-header {
    text-align: center;
}
.features-section {
    margin-top: 80px;
    background-image: url('./images/asset\ 34.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.feature-area {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
}
.features-card {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    gap: 20px;
    align-items: center;
    /* margin: 15px; */
    text-align: center;
    padding-inline: 10px;
}
.features-card img {
    width: 60px;
}

.big-feature-section {
    padding: 30px var(--padding-inline-selection) 0;
}
.big-feature-container {
    display: flex;
    gap: 30px;
}
#special-cont {
    flex-direction: row-reverse;
}
.feature-img img {
    width: 100%;
}
.feature-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.examples-card {
    width: 23%;
    position: relative;
    height: 300px;
    background: black;
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url('./images/asset\ 37.jpeg');
    background-size: cover;
    transition: 0.2s ease-out;
}
.card-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
    font-size: large;
}
.examples-card:nth-child(2){
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url('./images/asset\ 38.jpeg');
    background-size: cover;
}
.examples-card:nth-child(3){
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url('./images/asset\ 39.jpeg');
    background-size: cover;
}
.examples-card:nth-child(4){
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)),url('./images/asset\ 36.jpeg');
    background-size: cover;
}
.examples-area {
    display: flex;
    justify-content: space-evenly;
    margin-block: 20px;
    flex-wrap: wrap;
}
.examples-card:hover {
    box-shadow: 0 0 10px #888;
}
.cta-section {
    background-color: #183b56;
    padding: 120px var(--padding-inline-selection) 80px;
}
.cta-section-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    align-items: center;
    text-align: center;
}
footer {
    padding-block: 80px;
    background-color: #ebf2fa;
}
.footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.link-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.footer-container a img {
    width: 210px;
}
.sub-footer {
    background-color: #b9cde4;
    padding: var(--padding-inline-selection);
}
.subfooter-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
